* {
	margin: 0;
	padding: 0;
}
#container {
	background: url(../images/bg.jpg) center center;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#container h1 {
	text-align: center;
}
#container h1 a {
	display: inline-block;
}
#container h1 img {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#container h3 {
	color: white;
	font-weight: bold;
	padding: 11px;
	font-size: 45px;
}
#container p {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
#content {
	display: flex;
	flex-direction: row;
	padding: 5% 10%;
	justify-content: space-between;
	flex-wrap: wrap;
}
#content div.widget {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#content div.widget div.round {
	background-color: #5391c4;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content div.widget div.round img {
}
#content div.widget h4 {
	margin: 15px 0px;
	font-size: 20px;
	color: #979797;
}
#content div.widget h4 span {
	display: block;
	height: 2px;
	width: 120px;
	background-color: #3493be;
	margin: 10px auto 0px;
}
#content div.widget p {
	text-align: center;
	color: #979797;
}
footer {
	text-align: center;
	padding-bottom: 40px;
}
footer p {
	line-height: 8px;
	color: #979797;
}
footer p a {
	text-decoration: none;
	color: #979797;
}
@media all and (max-width: 768px ) {
	#content div.widget {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
	#container h3 {
		font-size: 1.6em;
		text-align: center;
	}
	#container p {
		text-align: center;
	}
	body {
		position: relative;
	}
	#container {
		background: url(../images/bg.jpg) center center;
		width: 100%;
	    background-size: cover;
		
	}
	#container h1 a img {
		width: 50%;
	}
	footer p {
		padding-top: 20px;
	}
}